@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
    --primary: #12bca2;
    --secondary: #6d15df;
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
    color: #333;
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    background: var(--primary);
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: #f2f2f2;
    margin: 10px;
    display: inline-block;
}

nav h1 {
    color: #fff;
}

.page {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.order-by {
    margin-bottom: 20px;
}

.order-by button {
    margin-right: 10px;
    background: var(--primary);
    color: #fff;
    border: 0;
    padding: 4px 8px;
    border-radius: 6px;
    font-family: 'Poppins';
    cursor: pointer;
}

.smoothie-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.smoothie-card {
    width: 100%;
    padding: 10px;
    background: #fff;
    border-radius: 6px;
    position: relative;
}

.smoothie-card .rating {
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--secondary);
    color: #fff;
    border-radius: 6px;
    width: 40px;
    height: 0;
    padding: 20px 0;
    line-height: 0;
    text-align: center;
}

.smoothie-card .buttons {
    text-align: right;
}

.smoothie-card i {
    color: #bbb;
    margin-left: 10px;
    font-size: 1.2em;
    padding: 6px;
    background: #eee;
    border-radius: 50%;
    cursor: pointer;
}

form {
    background: #fff;
    padding: 20px;
    max-width: 480px;
    margin: 0 auto;
    border-radius: 6px;
}

form input,
form textarea {
    display: block;
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    margin: 10px 0 20px;
    font-family: inherit;
}

form button {
    background: var(--primary);
    color: #fff;
    border: 0;
    border-radius: 6px;
    padding: 6px 8px;
    font-family: inherit;
    cursor: pointer;
}

.error {
    color: crimson;
    margin-top: 10px;
    text-align: center;
}
